section#drawField #startBet {
    flex-basis: 15%;
    background-color: rgb(111, 148, 140, 0.85);
    font-size: 30px;
    margin: 25px 0;
    width: 50%;
    align-self: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 #90ff9b;
    cursor: pointer;
}
section#drawField #startBet:active {
    background-color: #90ff9b;
}
section#betField {
    flex-basis: 10%;
    align-self: center;
}
section#betField button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #6f948c;
    font-size: 30px;
    cursor: pointer;
}
section#betField button:active {
    background-color: #90ff9b;
}
section#betField button:nth-child(1) {
    border-radius: 5px 0 0 5px;
}
section#betField button:nth-child(3) {
    border-radius: 0 5px 5px 0;
}
section#betField input {
    height: 50px;
    border: none;
    line-height: 50px;
    font-size: 30px;
    width: 150px;
    text-align: center;
    appearance: none !important;
}
section#betField input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
aside#result {
    background-color: rgb(111, 148, 140, 0.65);
    width: 80%;
    margin: 0 auto 15px;
    flex-basis: 20%;
    padding: 20px;
    border-radius: 20px;
    font-size: 16px;
}
aside#result h3 {
    padding: 5px 0;
}